* {
    margin: auto;
  }
  
  /* @font-face {
    font-family: Bebas;
    src: url(./assets/fonts/BebasNeue.otf);
  }
   */
  .header-box{
    width: 100%;
    height: 160px;
    background-color: #f27b54;
  }
  
  .school{
    width: 152px;
    height: 135px;
    margin-top: 10px;
  }
  
  .logo-container{
    /* background-color: aquamarine; */
    width: 80%;
    display: flex;
  }
  
  .titulo-container{
    /* background-color: lightpink; */
    width: 30%;
    height: 40%;
    display: flex;
    flex-direction: column;
    padding-top: 6px;
  }
  
  .titulo1,.titulo2{
    font-family: Bebas;
    font-size: 48px;
    color: black;
    padding-right: 100px;
  }
  
  .titulo1{
    margin-top: 30px;
  }
  
  .titulo2{
    margin-bottom: 10px;
  }
  
  .header-menu{
    /* background-color: lightblue; */
    width: 80%;
    height: 100%;
    display: flex;
    margin-right: 40px;
  }
  
  .header-item{
    font-family: Bebas;
    font-size: 36px;
    color: white;
  }
  
  /* FIM HEADER */
  
  
  
  /* INÍCIO MAIN-LOGIN */   
  
  .gerencie-flex{
    display: flex;
  }
  
  .gerencie-titulo{
    font-family: Bebas;
    font-size: 36px;
    color:#04395e;
    margin-top: 50px;  
  }
  
  .cards-flex{
    display: flex;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  
  .cadastro-sala{
    /* background-color: lightgreen; */
    width: 470px;
    height: 265px;
    display: flex;
    flex-direction: column;
  }
  
  .img-sala{
    /* background-color: lightpink; */
    width: 180px;
    height: 180;
  }
  
  .cadastro-sala-titulo{
    /* background-color: lightseagreen; */
    font-family: Bebas;
    font-size: 36px;
    color: #04395e;
  }
  
  .cadastro-equip{
    /* background-color: lightgreen; */
    width: 470px;
    height: 265px;
    display: flex;
    flex-direction: column;
  }
  
  .img-equip{
    /* background-color: lightpink; */
    width: 180px;
    height: 180;
  }
  
  .cadastro-equip-titulo{
    /* background-color: lightseagreen; */
    font-family: Bebas;
    font-size: 36px;
    color: #04395e;
  }
  
  
  /* FIM MAIN */
  
  
  .footer-box{
    background-color: #f27b54;
    width: 100%;
    height: 130px;
  }
  
  .footer-content{
    /* background-color: lightskyblue; */
    width: 90%;
    height: 100%;
    display: flex;
  }
  
  .footer-item,.footer-itemX{
    font-family: Bebas;
    font-size: 36px;
    color: white;
  }
  
  .footer-itemX{
    padding-right: 60px;
  }